@use 'Scss/mixins';

.genreBtn {
  @include mixins.reset;
  position: relative;
  padding-bottom: 3px;
  background-color: transparent;
  color: #fff;
  vertical-align: middle;
  line-height: 1;
  &:hover {
    color: #ffffffa6;
  }
}
.genreBtn_active {
  @extend .genreBtn;
  &::after {
    position: absolute;
    content: '';
    border-bottom: 2.5px solid #f65261;
    width: 100%;
    transform: translateY(23px);
    display: block;
  }
}
