@use '@src/scss/mixins';

.form {
  position: relative;
  width: 90vw;
  max-width: 976px;
  padding: 11px 60px 60px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 90vw;
  }
  &__fieldset {
    width: 100%;
    @include mixins.reset;
    display: flex;
    flex-direction: column;
    padding: 25px 0 60px;
    margin-top: 10px;
  }
  &__legend {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  &__top {
    display: flex;
    gap: 30px;
  }
  &__left {
    flex-basis: 80%;
  }
  &__buttons {
    align-self: flex-end;
    display: flex;
    gap: 13px;
  }

  &__error {
    color: #f65261;
    align-self: flex-end;
  }
  &_blur {
    @extend .form;
    filter: blur(2px);
  }
}

.field {
  &__textarea {
    @include mixins.input;
    max-height: 190px;
    width: 100%;
    resize: none;
  }
}
