@use '@src/scss/mixins';

.form {
  position: relative;
  width: 90vw;
  max-width: 976px;
  padding: 11px 60px 60px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 90vw;
  }
  &__fieldset {
    width: 100%;
    @include mixins.reset;
    display: flex;
    flex-direction: column;
    padding: 25px 0 60px;
    margin-top: 10px;
  }
  &__legend {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  &__top {
    display: flex;
    gap: 30px;
  }
  &__left {
    flex-basis: 80%;
  }
  &__buttons {
    align-self: flex-end;
    display: flex;
    gap: 13px;
  }
  &__resetBtn {
    @include mixins.resetBtn;
    height: 57px;
    width: 180px;
  }
  &__submitBtn {
    @include mixins.submitBtn;
    height: 57px;
    width: 180px;
    &_disabled {
      @extend .form__submitBtn;
      opacity: 0.7;
    }
  }
  &__error {
    color: #f65261;
    align-self: flex-end;
  }
}

.field {
  &__textInput {
    @include mixins.input;
    height: 57px;
    width: 100%;
  }
  &__datePicker {
    @include mixins.input;
    height: 57px;
    width: 100%;
    background: #323232f2 url('@src/assets/icons/calendar.svg') 93% 50% no-repeat;

    &::-webkit-inner-spin-button {
      display: none;
    }
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
  }
  .datetime-reset-button {
    display: none;
  }
  &__textarea {
    @include mixins.input;
    max-height: 190px;
    width: 100%;
    resize: none;
  }
}
.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
}
