@use 'Scss/mixins';

.form {
  width: 90vw;
  max-width: 976px;
  padding: 11px 60px 60px;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: 90vw;
  }
  fieldset {
    width: 100%;
    @include mixins.reset;
    display: flex;
    flex-direction: column;
    padding: 25px 0 60px;
    margin-top: 10px;

    legend {
      font-size: 40px;
      font-weight: 200;
      letter-spacing: 1px;
    }
  }
  &__top {
    display: flex;
    gap: 30px;
  }
  &__left {
    flex-basis: 80%;
  }
  &__buttons {
    align-self: flex-end;
    display: flex;
    gap: 13px;
  }
  &__resetBtn {
    @include mixins.resetBtn;
    height: 57px;
    width: 180px;
  }
  &__submitBtn {
    @include mixins.submitBtn;
    height: 57px;
    width: 180px;
    &_disabled {
      opacity: 0.7;
    }
  }
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.8888887763023376px;
    color: #f65261;
    margin: 30px 0 14px;
  }
  &__warn {
    position: absolute;
    bottom: -21px;
    font-size: 14px;
    font-weight: 400;
    color: #f65261;
  }
  &__textInput {
    @include mixins.input;
    height: 57px;
  }
  &__dateInput {
    @include mixins.input;
    height: 57px;
  }
  &__textarea {
    @include mixins.input;
    max-height: 190px;
    resize: none;
  }
}
