@use 'Scss/mixins';

.dropDown {
  &__option {
    cursor: pointer;
    font-size: inherit;
    font-weight: 400;
    padding: 9px 18px;
    white-space: nowrap;
    height: 100%;
  }
  &__checkbox {
    @include mixins.reset;
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 1px;
    height: 1px;

    &:checked + .dropDown__label::before {
      background-color: #f65261;
      background-image: url('Assets/icons/indicator.svg');
      border: none;
    }
  }
  &__label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: #fff;
    font-weight: 300;
    width: 100%;

    &:hover {
      color: #ffffffa8;
    }
    &::before {
      content: '';
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      background: #fff;
      margin-right: 7px;
      margin-bottom: 3px;
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid #e6e8ed;
      border-radius: 2px;
    }
  }
}
