@use '@src/scss/mixins';

.field {
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.8888887763023376px;
    color: #f65261;
    margin: 30px 0 14px;
  }
  &__warn {
    position: absolute;
    bottom: -21px;
    font-size: 14px;
    font-weight: 400;
    color: #f65261;
  }
}
