@use '@src/scss/mixins';

.view {
  min-height: 606px;
  padding: 35px 60px 29px;
  background: #232323;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  &__search {
    @include mixins.reset;
  }
}
.content {
  display: flex;
  gap: 58px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.poster {
  @media (min-width: 769px) {
    max-width: 320px;
  }
}
.info {
  &__title {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 9px;
  }
  &__rating {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    width: 22px;
    height: 22px;
    padding: 18px;
  }
  &__genres {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
  }
  &__digits {
    color: #f65261;
    font-size: 24px;
    font-weight: 300;
    display: flex;
    gap: 51px;
    padding: 30px 0;
  }
  &__overview {
    max-width: 698px;
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    margin: 0;
  }
}
