.modal {
  padding: 0px 120px 57px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.congrats {
  margin: 0;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 1px;
}
.description {
  width: 302px;
  text-align: center;
  font-weight: 100;
  font-size: 20px;
}
