@use '@src/scss/mixins';

.deleteFormWrap {
  position: relative;
  padding: 14px 56px 70px 82px;
  width: 90vw;
  max-width: 686px;
  height: 308px;
  display: flex;
  flex-direction: column;

  &_blur {
    @extend .deleteFormWrap;
    filter: blur(2px);
  }
}
.deleteForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__prompt {
    font-size: 20px;
    font-weight: 200;
  }
  &__error {
    color: #f65261;
  }
}
.deleteFormTitle {
  font-size: 40px;
  font-weight: 200;
  line-height: 49px;
  letter-spacing: 1px;
  text-align: left;
}
.submitBtn {
  @include mixins.reset;
  @include mixins.submitBtn;
  height: 57px;
  width: 180px;
  align-self: flex-end;
}
