@use '@src/scss/mixins';

.glass {
  @include mixins.fixCenter;
  background: rgba(35, 35, 35, 0.918051);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.dialog {
  background: #232323;
  box-shadow: 0px 0px 2px #0000001a, 0px 2px 10px #00000012, 0px 10px 20px #0000000d,
    0px 10px 50px #0000000d;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.dialog__closeBtn {
  @include mixins.closeBtn(22px);
  align-self: flex-end;
  margin: 20px 20px 0 0;
  z-index: 200;
}
