@use '@src/scss/mixins';

.sorting {
  display: inline-flex;

  &__label {
    color: #fff;
    font-weight: 400;
    opacity: 0.6;
    margin-right: 2vw;
    white-space: nowrap;
  }
}
.dropDown {
  position: relative;
}
.dropDown__select {
  text-align: start;
  font-size: inherit;
  color: #fff;
  border: none;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  text-transform: uppercase;
  background-image: url('@src/assets/icons/chevron_down.svg');
  background-repeat: no-repeat;
  background-position: 97% center;
  padding-right: 25px;
  cursor: pointer;

  &_show {
    @extend .dropDown__select;
    background-image: url('@src/assets/icons/chevron_up.svg');
  }
  &:hover {
    color: #ffffffa6;
  }
}
.dropDown__list {
  background: #232323ea;
  backdrop-filter: blur(27.1828px);
  border-radius: 4px;
  margin: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
}
.dropDown__option {
  @include mixins.reset;
  width: 100%;
  text-align: start;
  color: #fff;
  font-size: inherit;
  font-weight: 400;
  padding: 4px 10px;
  white-space: nowrap;

  &:hover {
    background: #f65261;
  }
  @media (max-width: 768px) {
    height: 60px;
    font-size: 30px;
  }
}
