.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.poster {
  flex-grow: 1;
  &__img {
    width: 100%;
    object-fit: cover;
  }
}
.info {
  width: 100%;
  margin-top: 22px;
  display: inline-flex;
  justify-content: space-between;
}
.info__left {
  display: inline-flex;
  flex-direction: column;
}
.info__title {
  font-size: 18px;
  line-height: 22px;
  opacity: 0.7;
  margin-bottom: 8px;
}
.info__tagline {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.5;
}
.info__right {
  width: 66px;
  height: 26px;
  border: 1px solid #979797;
  border-radius: 4px;
  text-align: center;
  line-height: 1.4;
}
.info__year {
  font-size: 14px;
  vertical-align: middle;
  opacity: 0.7;
}
